<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chemiqualancer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.7/quill.js"></script>
    <link rel="icon" href="/images/icon.png">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg navbar-light color-override">
        <a class="navbar-brand text-override" href="#">  Chemiqualancer Forum Page</a>
        <nav class="navbar-collapse" id="navbarNavAltMarkup">
            <nav class="navbar-nav">
                <a class="nav-link active text-override" href="/">Home <span class="sr-only"></span></a>
                <a class="nav-link active text-override" href="/postQues.html">Post <span class="sr-only"></span></a>
                <a class="nav-link active text-override" href="https://chemiqualancer.herokuapp.com//">Equation Balancer <span class="sr-only"></span></a>
                
            </nav>
        </nav>
    </nav>
</head>

<body>



<div>


    <div class="parallax">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 d-flex justify-content-center">
                <h1 class="centerText text-white">Bialigy Communication Forum</h1>
            </div>
            <div class="col-sm-4">

            </div>
        </div>

        <div class="row firstRow">
            <div class="col-sm-4"></div>

            <div class="col-sm-4">
                <div class="main-question">
                    <form class="row g-3">
                        <div class="col-sm">
                            <label for="question" class="visually-hidden">Question</label>
                            <input class="form-control" id="questionAsk" placeholder="What do you want to ask or talk about?">
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-primary mb-3" id="searchButton">Search</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-sm-4"></div>
        </div>
    </div>


    <div class="row">
        
        <div class="col-sm-4" style="margin: 0 0 0 10px">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Results Per Page: 10
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" onclick="changeDropDownButton(5);">5</a></li>
                    <li><a class="dropdown-item" onclick="changeDropDownButton(10);">10</a></li>
                    <li><a class="dropdown-item" onclick="changeDropDownButton(15);">15</a></li>
                    <li><a class="dropdown-item" onclick="changeDropDownButton(20);">20</a></li>
                </ul>
            </div>


        </div>
        <div class="col-sm-4">
            <div id = "question1" class="list-group" style>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>




    <ul class="pagination justify-content-center spacing" id="pages">

    </ul>
</div>


</body>
<script>
    var toolbarOptions = [['bold', 'italic', 'underline', 'strike'],
        ['blockquote', 'code-block'],
        [{'list' : 'ordered'}, {'list' : 'bullet'}],
        [{'script' : 'sub'}, {'script' : 'super'}],
        [{'direction' : 'rtl'}],
        [{'size' : ['small', false, 'large', 'huge']}],
        [{'font' : []}],
        ['link', 'image', 'video', 'formula'],
        [{'color' : []}, {'background' : []}]];


    var data2d = [];

    var quills = {};
    
    var perPage = 10;

    window.onload = function(){
        data = getQues();
        displayQuestions(data, perPage);
    }
    
    function getQues() {
        var questions = [];
        $.ajax({
            url: "/api/questions",
            type: 'get',

            async: false,
            success: function(data) {
                console.log(data);
                questions = data;
            }
        });

        return questions
    }

    function displayQuestions(questions, displayAmount) {
        displayAmount = parseInt(displayAmount);
        document.getElementById('question1').innerHTML = "";
        document.getElementById('pages').innerHTML = "";


        for (let i = questions.length - 1; i > questions.length - 1 - displayAmount && i >= 0; i--){
            if(i < 0){
                break;
            }
            data = questions[i];
            var id = "editor" + data.questionId;

            var linkPost = "#" + data.questionId + "\"";

            document.getElementById('question1').innerHTML += `
                 <a href="./create_post.html` + linkPost + `  class="list-group-item list-group-item-action" id=`+ id + `>` + `</a>
`;

            var id_for_quills = '#' + id;
            quills[data.questionId] = new Quill(id_for_quills, {
                modules: {
                    toolbar: false
                },
                theme: 'snow'
            });

            quills[data.questionId].enable(false);
            quills[data.questionId].setContents(JSON.parse(data.title));
        }

        document.getElementById('pages').innerHTML += `<li class="page-item">
            <a id="getPrev" href="#" aria-label="Previous">
                <span class="page-arrow" aria-hidden="true">&laquo;</span>
            </a>
        </li>`;

        for(let k = 0; k < (data2d.length/displayAmount); k++){
            if(k == 0){
                document.getElementById('pages').innerHTML += `<li class="page-item"><a class="page-link" onclick="loadEntries(data2d.length - ` + 1 + `, ` + displayAmount +`)">` + (k + 1) + `</a></li>`;
            }
            else {
                document.getElementById('pages').innerHTML += `<li class="page-item"><a class="page-link" onclick="loadEntries(data2d.length - ` + (k * displayAmount + 1) + `, ` + displayAmount +`)">` + (k + 1) + `</a></li>`;
            }

        }

        document.getElementById('pages').innerHTML += `
        <li class="page-item">
            <a id="getNext" href="#" aria-label="Next">
                <span class="page-arrow" aria-hidden="true">&raquo;</span>
            </a>
        </li>
        `;
        if(data2d.length/displayAmount == 0){
            document.getElementById('pages').innerHTML = "";
        }
    }


    function changeDropDownButton (displayAmount){
        perPage = displayAmount;
        document.getElementById('dropdownMenuButton1').innerHTML = "Results Per Page: " + String(displayAmount);
    }


    function search(){
        data = getQues();

        newdata = [];
        for(var i = 0; i < data.length; i++){
            console.log(document.getElementById("questionAsk").value);
            if(JSON.parse(data[i].title).ops[0].insert.toLowerCase().search(document.getElementById("questionAsk").value.toLowerCase()) != -1){
                newdata.push(data[i]);
            }
        }
        console.log(newdata);
        console.log(document.getElementById("dropdownMenuButton1").innerHTML.trim().split(" ")[document.getElementById("dropdownMenuButton1").innerHTML.trim().split(" ").length - 1]);

        displayQuestions(newdata, perPage);
    }


    $('#searchButton').click(function (){
        search();
    });


    $('#questionAsk').keydown(function (e) {

        if (e.keyCode == 13) {
            e.preventDefault();
            if(document.getElementById("questionAsk").value.length != 0){
                search();
            }
            
            return false;
        }
    
        
    });

    $('#questionAsk').keyup(function (e){
        if(e.keyCode == 8){
            if(document.getElementById("questionAsk").value.length == 0){
                data = getQues();
                displayQuestions(data, perPage);
            }
        }
    });

</script>
</html>